:root {
  font-family: 'Inter', sans-serif;
  --bg-color: #1a1820;
  --forground-color: rgba(255, 255, 255, 0.9);
  --link-hover-color: rgba(255, 255, 255, 0.1);
  --link-color: rgba(202, 200, 255, 0.8);
  letter-spacing: -0.01em;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: 'Inter var', sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
  }
}

/* Fix content jumping when scroll bar is added */
@media screen and (min-width: 960px) {
  html {
    margin-left: calc(100vw - 100%);
    margin-right: 0;
  }
}

html {
  background-color: var(--bg-color);
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 640px;
  padding: 1rem;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  background-color: var(--bg-color);
  color: rgba(255, 255, 255, 0.9);
}

* {
  box-sizing: border-box;
}

/* h1 {
  line-height: 2.5rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
} */

/* h1.small-h1 {
  margin: 1rem 0 4rem 0;
  font-size: 1.15rem;
  line-height: 1.6em;
  letter-spacing: -0.015em;
  font-weight: 400;
  margin-top: 5rem;
} */

/* h2 {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: 0.01em;
  margin-block-start: 1.8em;
  margin-block-end: 1.2em;
} */

/* h3 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 8px;
} */

p,
ul {
  /* font-family: 'Newsreader', serif; */
  font-size: 1rem;
  line-height: 1.6em;
  letter-spacing: -0.015em;
  margin-top: 0;
  margin-bottom: 1.5rem;
}

/* ul {
  padding-inline-start: 1rem;
} */

li {
  margin-bottom: 0.75rem;
}

a {
  padding: 0.25rem;
  margin: -0.25rem;
  color: rgb(222, 220, 255, 0.8);
  text-decoration: none;
  border-radius: 0.25rem;
  /* border-bottom: 1px dashed rgba(255, 255, 255, 0.2) */
}

a:hover {
  color: rgb(227, 226, 255);
  /* border-bottom: 1px solid rgb(133, 126, 255); */
  background-color: var(--link-hover-color);
}

/* main styles */

/* .page-title {
  margin-top: 4rem;
  margin-bottom: 0;
} */

blockquote {
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  margin-left: 0;
  padding-left: 1rem;
  opacity: 0.75;
}

/* .summary {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 4rem;
} */

img {
  border-radius: 1rem;
}

.blog-back-link {
  opacity: 0.5;
  margin-bottom: 5rem;
}

.blog-back-link:hover {
  opacity: 1;
}

.blog-header-image {
  object-fit: cover;
  height: 16rem;
}

a.blog-list-title {
  font-size: 1.15rem;
  margin-bottom: 10rem;
}

.blog-list-divider {
  height: 2rem;
  content: '';
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.blog-date-published {
  margin-top: 0;
  margin-bottom: 2rem;
  opacity: 0.5;
}

/* nav styles */

.comet {
  position: absolute;
  top: 0.5rem;
  right: 2rem;
  font-size: 2rem;
}

.hamburger {
  padding-right: 20px;
  cursor: pointer;
  /* display: none; */
}

.hamburger .line {
  display: block;
  width: 1.5rem;
  height: 2px;
  margin-bottom: 0.25rem;
  background-color: rgb(255, 255, 255);
}

.nav-links {
  width: 100%;
  top: 5rem;
  display: none;
  margin: 0;
}

.nav-links a {
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
}

.expanded {
  display: unset;
}

@media screen and (min-width: 636px) {
  .nav-links {
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    margin-right: 1rem;
    background: none;
    padding: 0;
  }

  .hamburger {
    display: none;
  }
}

@media screen and (max-width: 635px) {
  header {
    margin: -1rem;
    padding: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: var(--bg-color);
    z-index: 1;
  }

  .nav-links a {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 1rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
    color: rgb(227, 226, 255);
  }

  .comet {
    top: 0rem;
  }

  .summary {
    font-size: 1.3rem;
  }
}
