---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = 'Blog'
---
<style>
	body {
		background-color: #27342a;
		color: rgba(255, 255, 255, 0.9);
	}
</style>

<BaseLayout>
	<p>This is where the blog goes</p>
	<ul>
		<li><a href='/posts/post-1'>Building a blog</a></li>
		<li><a href='/posts/post-2'>Post 2</a></li>
		<li><a href='/posts/post-3'>Post 3</a></li>
	</ul>
</BaseLayout>