---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = 'Lyle Klyne'
---
<style>
body {
	background-color: #292337;
	color: white;
}
</style>

<BaseLayout>
	<h3>Lyle Klyne</h3>
	<br><br>
	<p class='summary'>I'm designing software at NASA's Jet Propulsion Laboratory, working on tools supporting mission planning, sequencing, and spacecraft visualization for Mars 2020 and Europa Clipper.</p>
	<br><br>
	<p>I'm also working on lots of other fun things! I build websites like Jackson.radio.</p>
</BaseLayout>>