---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = 'Lyle Klyne'
const employer = `NASA's Jet Propulsion Laboratory`
const employerURL = `https://www.jpl.nasa.gov/`
---
<style>
body {
	background-color: #292337;
	color: rgba(255, 255, 255, 0.9);
}
</style>

<BaseLayout>
	<h3>Lyle Klyne</h3>
	<br><br>
	<p class='summary'>I'm designing software at <a href = {employerURL} target="_blank" rel="noopener noreferrer">NASA's Jet Propulsion Laboratory</a>, working on tools supporting mission planning, sequencing and spacecraft visualization for <a href='https://mars.nasa.gov/mars2020/' target="_blank" rel="noopener noreferrer">Mars 2020</a> and <a href='https://mars.nasa.gov/mars2020/' target="_blank" rel="noopener noreferrer">Europa Clipper</a>.</p>
	<br><br>
	<p>Making things brings me immense joy and is a primary form of self-expression. I spend a lot of my time designing digital tools and interactive experiences, but I also make art, furniture, objects, lights and sounds.</p>
	<ul>
		<li>Haha</li>
		<li>lol</li>

	</ul>
</BaseLayout>